:host {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100dvh;
  align-items: center;
  margin: 0 5%;
}

.login-form {
  width: 440px;
}

.login-form,
.big-logo {
  place-self: center; //центр по х у
}

.password-input {
  position: relative;
}

.password-eye-button {
  position: absolute;
  right: 12px;
  border: none;
  background: none;
  color: #ffffffbf;
  top: 55%; // сделали верхн гран свг по центру, но она получается все равно как бы ниже уровня серидины
  transform: translateY(
    -50%
  ); //поднимает элемент вверх на 50% его собственной высоты
}

.password-eye-button.active {
  color: var(--primary-color);
}
