:host {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100dvh;
  align-items: center;
  margin: 0 5%;
}

.btn-eye {
}

.tt-control-label {
  position: relative;
}

.input-eye-button {
  position: absolute;
  top: 55%;
  right: 12px;
  border: none;
  background: none;
  color: #5f646d;
}
